.filter-upload-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.centered-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.centered-text {
  margin: 0 auto;
}

.upload-icon {
  margin-left: 6px;
}

.save-button {
  margin-right: 4px;
}
